:root {
  --light: white;
  --dark: black;
  --background: #4d4c4e;
  --border: #a5a5a5;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background);
  /* background-color: var(--background); Colour can be changed to background-image, or something different */
}

header {
  padding: 20px;
  background-color: var(--background);
  color: var(--light);
  border-bottom: solid 1px var(--light);
  position: fixed; /* makes sure the header stays on screen when scrolling */
  width: 100%;
  /* background: transparent; */
}

.title-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
}
header h2 {
  margin: 0;
}

header h4 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-right: 20px;
  display: inline;
}

nav ul li a,
nav ul li button {
  color: var(--light);
  text-shadow: rgb(75, 75, 75) 0px 0px 3px;
  text-decoration: none;
  background: transparent;
  border: none; /* Remove default button border */
  cursor: pointer; /* Add pointer cursor for better user experience */
  outline: none; /* Remove default button focus outline */
}

nav ul li a:hover,
nav ul li button:hover {
  color: #c35a1e; /* Button background color on hover */
}
.banner {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/smokeyBBQfood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  margin: 0px;
  padding: 0px;
  height: 100vh; /* This centers the text into the middle of the banner - removing it sends text/item to top of banner */
  justify-content: center; /* This centers the text into the middle of the banner - removing it sends text to the top of banner - needed in conjunction with height vh */
  display: flex; /* This centers the text into the middle of the banner - removing it sends text/item to top of banner */
  flex-direction: column;
  align-items: center; /* This centers the text into the middle of the banner - removing it sends text/item to left side of banner */
  text-decoration: none;
  /* Font styling for the banner-text below this point */
  font-size: 56px;
  font-weight: bolder;
  color: var(--dark);
  text-shadow: white 0px 0px 3px;
  font-family: "Protest Riot", sans-serif;
}

.containers-wrapper {
  width: 100%; /* Take up 80% of the page width */
  margin: 0 auto; /* Center the containers horizontally */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the containers horizontally */
  text-align: center; /*optional styling to center text */
}

.container1,
.container2 {
  margin: 10px;
  width: 100%;
  height: 500px;
  display: inline-flex; /* Display containers side by side */
  /* justify-content: space-between; */
}
.containers-wrapper2 {
  width: 100%; /* Take up 80% of the page width */
  margin: 0 auto; /* Center the containers horizontally */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the containers horizontally */
}
.container3 {
  margin: 10px;
  width: 100%;
  height: 300px;
  display: inline-flex; /* Display containers side by side */
}
.containers-wrapper3 {
  width: 100%; /* Take up 80% of the page width */
  margin: 0 auto; /* Center the containers horizontally */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the containers horizontally */
}
.container4 {
  margin: 10px;
  width: 100%;
  height: 300px;
  display: inline-flex; /* Display containers side by side */
}
.div1,
.div2,
.div3 {
  padding: 20px;
  flex-grow: 1; /* Equal distribution of space */
  border: 1px solid var(--border); /* Placeholder border */
  box-sizing: border-box; /* Include padding and border in total width */
  border-radius: 25px;
  
}
/* Background colours for each individual contained div in main page section */
.div1 {
  background-color: #ffaedf;
}
.div2 {
  background-color: chocolate;
}
.div3 {
  background-color: lightblue;
}

.div4,
.div5,
.div6,
.div7,
.div8 {
  margin-right: 10px;
  padding: 20px;
  color: var(--dark);
  flex-grow: 1; /* Equal distribution of space */
  background-color: var(--light); /* Placeholder background color */
  border: 1px solid var(--border); /* Placeholder border */
  box-sizing: border-box; /* Include padding and border in total width */
  border-radius: 25px;
}

.div8 {
  margin-right: 0; /* Remove margin from the last element to prevent extra space */
}

.footer {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.footer a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
.fa-brands {
  margin: 5px 10px; /* Add margin between icons */
}

.fa-3x {
  font-size: 2em; /* Increase the size of icons */
}
