:root {
  --light: white;
  --dark: black;
  --background: #e5b3f9;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: var(
    --background
  ); /* Colour can be changed to background-image, or something different */
}

header {
  color: #fff;
  padding: 20px;
  background: transparent;
}

.title-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
}
header h2 {
  margin: 0;
}

header h4 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a,
nav ul li button {
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: none; /* Remove default button border */
  cursor: pointer; /* Add pointer cursor for better user experience */
  outline: none; /* Remove default button focus outline */
}

nav ul li a:hover,
nav ul li button:hover {
  color: #555; /* Button background color on hover */
}
.banner {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/smokeyBBQfood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  margin: 0px;
  padding: 0px;
  height: 100vh; /* This centers the text into the middle of the banner - removing it sends text/item to top of banner */
  justify-content: center; /* This centers the text into the middle of the banner - removing it sends text to the top of banner - needed in conjunction with height vh */
  display: flex; /* This centers the text into the middle of the banner - removing it sends text/item to top of banner */
  flex-direction: column;
  align-items: center; /* This centers the text into the middle of the banner - removing it sends text/item to left side of banner */
  text-decoration: none;
  /* Font styling for the banner-text below this point */
  font-size: 56px; 
  font-weight: bolder;
  color: var(--dark);
  text-shadow: white 0px 0px 3px;
  font-family: 'Protest Riot', sans-serif;
}

.container1 {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.container2 {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.footer {
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.footer a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}
.fa-brands {
  margin: 5px 10px; /* Add margin between icons */
}

.fa-3x {
  font-size: 2em; /* Increase the size of icons */
}
